<div class='w-full flex flex-col'>
  <div class='flex flex-row items-center justify-between pb-3'>
    <h2 class='font-semibold text-xl'>My Credits</h2>
    <div class='flex items-center gap-2'>
      <%= render 'shared/icon', icon: 'paid', class_name: 'text-blue-500' %>
      <p class='mr-4'>Total: <strong><%=@credits[:total] / 100 %></strong></p>
      <%= link_to "Buy more! 🤑", new_credit_path, class: 'p-2 rounded text-white font-semibold bg-blue-700 hover:bg-blue-800 cursor-pointer' %>
    </div>
  </div>
  <hr/>
  <% if @credits[:data].empty? %>
  <p class='py-6 text-center'>You haven't bought credits yet 🥲</p>
  <% else %>
  <div class='py-4 w-full flex flex-col'>
    <table class="table-fixed">
      <thead>
        <tr class='text-left'>
          <th>Purchased quantity (R$)</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
      <% @credits[:data].each do |credit| %>
        <tr>
          <td><%= credit.amount / 100 %></td>
          <td><%= credit.created_at.strftime('%d/%m/%Y %H:%M') %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</div>

