<div class="flex flex-col items-center w-full">
  <h2 class='font-semibold text-xl text-blue-700'>Buy Credits</h2>
  <div class='py-4 w-auto'>
    <%= form_with model: @credit, url: credits_path, method: :post, local: true do |f| %>
      <div class="field">
        <%= f.label :amount, "Amount (R$)", class: "block mb-1" %>
        <%= f.number_field :amount, class: "input", required: true %>
      </div>
      <div class="mt-10 flex flex-col">
        <h3 class='mb-3 font-semibold'>Payment info (Credit Card)</h3>
        <div class='flex flex-row gap-4 py-4'>
          <div>
            <%= f.label :card_name, "Card name", class: "block mb-1" %>
            <%= f.text_field :card_name, class: "input", required: true %>
          </div>
          <div>
            <%= f.label :card_number, "Card number", class: "block mb-1" %>
            <%= f.text_field(
              :card_number,
              class: "input", required: true,
              onkeypress:"$(this).mask('0000 0000 0000 0000')",
            ) %>
          </div>
        </div>
        <div class='flex flex-row gap-4 py-4'>
          <div class='w-full'>
            <%= f.label :card_expiration, "Expiration date", class: "block mb-1" %>
            <div class='flex gap-4'>
              <%= f.select :card_expiration_month,
                (1..12).to_a.map { |n| "%02d" % n },
                { include_blank: "Month" },
                { :class => 'input' }
              %>
              <%= f.select :card_expiration_year,
                (1..10).to_a.map { |i| Time.now.year + i },
                { include_blank: "Year" },
                { :class => 'input' }
              %>
            </div>
            <%# TODO: Show Card flag %>
          </div>
          <div>
            <%= f.label :cart_security_code, "CVV", class: "block mb-1" %>
            <%= f.text_field(
              :cart_security_code,
              class: "input",
              required: true,
              onkeypress:"$(this).mask('000')",
            ) %>
          </div>
        </div>
        <% flash.each do |name, message| %>
          <% if name == 'invalid_card_alert' %>
          <p class="text-sm text-red-500"><%= message %></p>
          <% end %>
        <% end %>
      </div>
      <div class="actions">
        <%= f.submit "Buy", class: "mt-5 w-full text-center p-4 rounded text-white bg-blue-700 hover:bg-blue-800 cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>
