<div class="ud-header bg-transparent absolute top-0 left-0 z-40 w-full flex items-center">
  <div class="container">
    <div class="flex -mx-4 items-center justify-between relative">
      <div class="px-4 w-60 max-w-full">
        <a href="/" class="navbar-logo w-full block py-5 text-3xl font-bold lg:text-white">
          BOLADÃO
        </a>
      </div>
      <div class="flex px-4 justify-between items-center w-full">
        <div>
          <button id="navbarToggler" class="block absolute right-4 top-1/2 -translate-y-1/2 lg:hidden focus:ring-2 ring-primary px-3 py-[6px] rounded-lg">
            <span class="relative w-[30px] h-[2px] my-[6px] block bg-white"></span>
            <span class="relative w-[30px] h-[2px] my-[6px] block bg-white"></span>
            <span class="relative w-[30px] h-[2px] my-[6px] block bg-white"></span>
          </button>
          <nav id="navbarCollapse" class="ab py-5 lg:py-0 lg:px-4 xl:px-6 bg-white lg:bg-transparent shadow-lg rounded-lg max-w-[250px] w-full lg:max-w-full lg:w-full right-4 top-full hidden lg:block lg:static lg:shadow-none">
            <ul class="blcok lg:flex">
              <%= render 'layouts/navitem', path: '/', text: 'Home' %>
              <%= render 'layouts/navitem', path: '/guide', text: 'How to bet' %>
              <%= render 'layouts/navitem', path: teams_path, text: 'Teams' %>
              <%= render 'layouts/navitem', path: tournaments_path, text: 'Tournaments' %>
            </ul>
          </nav>
        </div>
        <div class="sm:flex justify-end items-center hidden pr-16 lg:pr-0">
          <%if current_user%>
            <%= render 'layouts/user-menu' %>
            <%= link_to 'Sair', destroy_user_session_path, class: 'navbar__signin' %>
          <%else%>
            <a href="/users/sign_in" class="navbar__signin">Sign In</a>
            <a href="/users/sign_up" class="navbar__signup">Sign Up</a>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
